@import '../../shared/_styles.scss';

.banjo-grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(6, 50px);
  max-width: 90%;
  margin-top: 100px;
  //background: $mandoWhite;

  &__square {
    border: 1px solid $mandoGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: $mandoWhite;
    color: $mandoBlack;
    font-weight: 500;
    font-size: 18px;

    &.tab-0 {
      border-left: 0;
      border-top: 0;
      border-bottom: 0;
      background: $mandoBlack;
      color: $mandoWhite;
    }

    &.tab-5.string-5 {
      border-left: 0;
      border-top: 0;
      border-bottom: 0;
      background: $mandoBlack;
      color: $mandoWhite;
    }

    &.string-0 {
      border: 0;
      background: $mandoBlack;
      color: $mandoWhite;
    }
  }
}

.note-circle {
  background: $mandoOrange;
  color: $mandoWhite;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

@for $i from 0 through 24 {
  .tab-#{$i} {
    grid-column: ($i + 1);
  }
}

@for $i from 0 through 5 {
  .string-#{$i} {
    grid-row: ($i + 1);
  }
}
