@import 'shared/_styles.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $mandoBlack;
  color: $mandoWhite;
  font-family: $primaryFont;
}
